// Primary
$nikPrime-10: #380037;
$nikPrime-20: #561152;
$nikPrime-30: #702B6B;
$nikPrime-40: #8C4384;
$nikPrime-50: #A85C9F;
$nikPrime-60: #C575BA;
$nikPrime-70: #E28FD6;
$nikPrime-80: #FFABF1;
$nikPrime-90: #FFD7F4;
$nikPrime-95: #FFEBF7;
$nikPrime-99: #FFFBFF;
$nikPrime-100: #d7d8e3;

// Neutral
$black-color: #000;
$neutral-color-10: #1B1B1B;
$neutral-color-20: #303030;
$neutral-color-30: #474747;
$neutral-color-40: #5E5E5E;
$neutral-color-50: #767676;
$neutral-color-60: #919191;
$neutral-color-70: #ABABAB;
$neutral-color-80: #C6C6C6;
$neutral-color-90: #E2E2E2;
$neutral-color-95: #F1F1F1;
$neutral-color-99: #FAFAFA;
$white-color: #FFF;
